* text=auto

*.cs text diff=csharp
*.shader text
*.hlsl text
*.hlsli text
*.cginc text
*.unity text
*.prefab text
*.mat text
*.asset text
*.meta text
*.inputactions text
*.json text

*.png binary
*.jpg binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
